# Python
__pycache__/
*.py[cod]
*.log
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# System Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
*.code-workspace

# Jupyter
.ipynb_checkpoints

# Output folders
outputs/
scans/

# Installers
*.egg-info/
.eggs/
build/
dist/

# Cache / Output
scan_cache/
outputs/
scans/
